*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
nav{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color:rgb(29, 36, 45);
    align-items: center;
    justify-content: cen;
    position: fixed;
}
.branchname{
    padding-right: 200px;
    /* padding-bottom: 10px; */
}
.navbar ul{
    display: flex;
    list-style: none;
    column-gap: 50px;
    font-size: 0.84rem;
    /* font-style: oblique; */
    font-family:  sans-serif;
    font: bold;
    color: aliceblue;
    /* text-decoration: none; */
}
.nav{
    text-decoration: none;
    color: aliceblue;
    transition: ease-in-out 0.3s; 
    
}
.nav:hover{
    /* font-size: 0.9rem; */
    color: rgb(119, 167, 230);
    text-decoration: underline; 
    text-underline-offset: 10px;
     
}
.branchname h1{
    color: aliceblue;
    padding-bottom: 10px;
    /* text-align: center; */
    font-family:Arial, Helvetica, sans-serif;
    position: static;

}
.branchname p{
    color: aliceblue;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.84rem;
}
.home{
    padding-top: 50px;
    background-size: cover ;
    background: linear-gradient(rgba(0,0,0,0.5) , rgba(0,0,0,0,0.5));
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.29);
    background-blend-mode:darken;
    
    
    
}
.home h1{
    font-size: 3.5rem;
    padding-top: 10px;
    letter-spacing:  2px;
    font-family:  sans-serif;
    /* font: bold; */
    /* text-shadow: black; */
    font-weight: 400;
    
}
.home p{
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
    letter-spacing: 0.7px;
    
}
.button{
    display: flex;
    gap: 20px;
}
#button1{
    background-color: red;
    /* padding: 10px; */
    width: 100px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.12s ease-in-out;
}
#button2{
    border: 2px solid white;
    /* padding: 10px; */
    width: 150px;
    height:41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
#button1:hover{
    transform: translateY(-3px);
    background-color: rgb(218, 14, 14);
}
#button2:hover{
    background-color: white;
    color: rgb(66, 65, 65);
}

.menu .header{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}
.menu .header h1{
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px;
    color:rgb(29, 36, 45);
}
.menu .header p{
    letter-spacing: 1px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 107, 107);
}
.menu .dishes {
    margin-left :150px;
    margin-right:150px
}
.menu .dishes h2{
    color:rgb(29, 36, 45);
    padding-bottom:13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}
hr{
    background-color: red;
    height: 1px;
    margin-bottom:10px ;
}
.dish{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.dish1{
    background-color:white;
    padding-left: 22px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(222, 219, 219, 0.647);
    transition: 0.25s ease-in-out;
}
.dish2{
    background-color: white;
    padding-left: 22px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 2px 2px 10px 2px rgba(222, 219, 219, 0.647);
    border-radius: 8px;
    transition: 0.25s ease-in-out;
}
.dishname1{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-family:  sans-serif;
     color:rgb(29, 36, 45);
     font-weight: 500;
     font-size: 0.9rem;
}
#firstprice{
    color: orange;
}
.dish1 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
}
.dishname2{
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-family:  sans-serif;
     color:rgb(29, 36, 45);
     font-weight: 500;
     font-size: 0.9rem;
}
#secondprice{
    color: orange;
}
.dish2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
}
.dish1:hover{
    transform: translateY(-5px);
}
.dish2:hover{
    transform: translateY(-5px);
}
