* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

nav {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(29, 36, 45);
    align-items: center;
    /* justify-content: center; */
    position: fixed;
}

.branchname {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
    /* padding-bottom: 10px; */
}

.navbar ul {
    display: flex;
    list-style: none;
    column-gap: 50px;
    font-size: 0.84rem;
    /* font-style: oblique; */
    font-family: sans-serif;
    font: bold;
    color: aliceblue;
    /* text-decoration: none; */
}

.nav {
    text-decoration: none;
    color: aliceblue;
    transition: ease-in-out 0.3s;

}

.nav:hover {
    /* font-size: 0.9rem; */
    color: rgb(119, 167, 230);
    text-decoration: underline;
    text-underline-offset: 10px;

}

.branchname h1 {
    color: aliceblue;
    padding-bottom: 10px;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    /* position: static; */

}


.branchname p {
    color: aliceblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.84rem;
}

.home {
    padding-top: 50px;
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0, 0.5));
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: rgba(0, 0, 0, 0.29);
    background-blend-mode: darken;



}

.home h1 {
    font-size: 3.5rem;
    padding-top: 10px;
    letter-spacing: 2px;
    font-family: sans-serif;
    /* font: bold; */
    /* text-shadow: black; */
    font-weight: 400;


}

.home p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black;
    letter-spacing: 0.7px;

}

.button {
    display: flex;
    gap: 20px;
}

#button1 {
    background-color: red;
    /* padding: 10px; */
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.12s ease-in-out;
}

#button2 {
    border: 2px solid white;
    /* padding: 10px; */
    width: 150px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

#button1:hover {
    transform: translateY(-3px);
    background-color: rgb(218, 14, 14);
}

#button2:hover {
    background-color: white;
    color: rgb(66, 65, 65);
}

.menu {
    width: 100%;
}

.menu .header {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.menu .header h1 {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
}

.menu .header p {
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(111, 107, 107);
}

.menu .dishes {
    margin-left: 150px;
    margin-right: 150px;
}

.menu .dishes h2 {
    color: rgb(29, 36, 45);
    padding-bottom: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
}

hr {
    background-color: red;
    height: 1px;
    margin-bottom: 10px;
}

.dish {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.dish1 {
    background-color: white;
    padding-left: 22px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 2px rgba(222, 219, 219, 0.647);
    transition: 0.25s ease-in-out;
}

.dish2 {
    background-color: white;
    padding-left: 22px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 2px 2px 10px 2px rgba(222, 219, 219, 0.647);
    border-radius: 8px;
    transition: 0.25s ease-in-out;
}

.dishname1 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-family: sans-serif;
    color: rgb(29, 36, 45);
    font-weight: 500;
    font-size: 0.9rem;
}

#firstprice {
    color: orange;
}

.dish1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
}

.dishname2 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-family: sans-serif;
    color: rgb(29, 36, 45);
    font-weight: 500;
    font-size: 0.9rem;
}

#secondprice {
    color: orange;
}

.dish2 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
}

.dish1:hover {
    transform: translateY(-5px);
}

.dish2:hover {
    transform: translateY(-5px);
}

.about {
    width: 100%;
}

.about h1 {
    /* padding: 30px; */
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
    text-align: center;
}

.bodypart {
    display: flex;
    /* padding-left: 150px; */
    /* padding-right: 150px; */
    justify-content: space-around;
    padding-left: 76px;
    padding-right: 76px;
}

.bodypart ul {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 20px;
}

.aboutdescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
    text-align: justify;
}

.ourstory {
    /* padding: 25px; */
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
    /* text-align: center; */

}

.bodypart img {
    flex-basis: 40%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(49, 46, 46, 0.647);

}

.contact {
    width: 100%;

}

.contact h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
    text-align: center;
}

.contactbody {
    display: flex;
    justify-content: space-around;
    padding-left: 150px;
    /* padding-right: 150px; */
}

.contactdetails {
    flex-basis: 40%;
}

.reservation {
    flex-basis: 50%;
    padding-left: 190px;
    display: flex;
    flex-direction: column;
    /* row-gap: 15px; */
}

.reservation ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.labeling {
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
    font-size: 0.8rem;

}

.box {
    width: 350px;
    height: 30px;
    border: 0.5px rgba(29, 36, 45, 0.637) solid;
    box-shadow: 0px 1px 3px 0px rgba(29, 36, 45, 0.438);
    ;
    border-radius: 4px;
}

.reservation h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(162, 116, 10);
    font-size: rem;
}

#submit {
    background-color: rgb(255, 153, 0);
    /* padding: 10px; */
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(29, 36, 45, 0.438);
}

#submit:hover {
    /* transform: translateY(-3px); */
    background-color: rgb(94, 39, 6);
}

.contactdetails {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contactdetails h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
    /* font-size: 3rem; */
    /* letter-spacing: 1px; */
    color: rgb(29, 36, 45);
}

.pp {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(29, 36, 45);
    font-size: 0.9rem;
}

.pp2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
    color: dimgrey;
    text-align: justify;
    font-size: 0.8rem;
    padding-bottom: 7px;
}

.contactdetails a {
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    display: flex;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background-color: rgb(29, 36, 45);
    color: rgba(240, 248, 255, 0.843);
    /* align-items: center; */
    justify-content: center;

}

.right {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-basis: 50%;

}

.r1 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.r1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}

.r1 p {
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.r2 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.r2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}

.r2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.r2 a {
    text-decoration: none;
    color: rgba(240, 248, 255, 0.586);
    font-size: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.r2 a:hover{
    color:rgba(240, 248, 255, 0.843) ;
}

.left {
    padding-top: 25px;
    display: flex;
    /* justify-content: space-around; */
    flex-basis: 50%;
    justify-content: space-evenly;


}

.l1 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.l1 h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}

.l1 p {
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.l2 {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

}

.l2 h3 {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}
.socialmedia{
    display: flex;
    gap: 10px;
}
.socialmedia a{
    font-size: 0.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: rgba(119, 136, 153, 0.703);
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 2px;
    /* display: flex; */
    /* text-align: center; */
    /* justify-items: center; */
    /* align-items: center; */
    color:aliceblue;
}
.last{
    background-color: rgb(29, 36, 45);
    color: rgba(240, 248, 255, 0.586);
    text-align: center;  
    padding: 20px;
    font-size: 0.86rem; 
    font-family: Arial, Helvetica, sans-serif; 
    /* letter-spacing: 0.7px; */
    font-weight: 500;
}


@media (max-width : 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
        /* width: 100%; */
    }

    .branchname {
        text-align: center;
        padding-right: 0px;
        padding-bottom: 10px;
    }

    .branchname h1 {
        transform: scale(1.2);
    }

    .branchname p {
        letter-spacing: 1.3px;
        color: rgba(240, 248, 255, 0.481);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .home {
        /* width: 100%; */
        background-color: rgba(0, 0, 0, 0.43);
    }

    .home h1 {
        font-size: 2rem;
        text-align: center;
    }

    .home p {
        text-align: center;
        font-size: smaller;
        transform: scale(0.9);
    }

    .button {
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
    }

    .menu .dishes {
        margin-right: 20px;
        margin-left: 20px;
    }

    .dishes h2 {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
    }

    .dishes {
        flex-direction: column;
        /* width: 500px; */
        justify-content: center;
        /* row-gap: 20px; */
        /* margin-right: 100px; */
    }

    .bodypart {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 30px;
        padding-left: 0;
        padding-right: 0;
    }

    .aboutdescription {
        text-align: center;
    }
    .bodypart img{
        transform: scale(0.8);
    }

    .contactbody {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        row-gap: 30px;
    }

    .reservation {
        padding-left: 0;
    }

    .reservation h3 {
        text-align: center;
        padding-bottom: 10px;
    }

    .submit {
        display: flex;
        justify-content: center;
    }
    .footer{
        flex-direction: column;
        gap: 20px;
    }
    .socialmedia{
        flex-direction: column;
    }
}

@keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.home h1 {
    animation: slideup 1s ease-out;
}

.bodypart img {
    animation: slideup 0.8s ease-out;
    /* transform: scale(0.2);/ */
}

.dish1 {
    animation: slideup 1s ease-out 0.2s;
}

.dish2 {
    animation: slideup 1s ease-out 0.3s;
}

.section-title {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6 ease;
}

.section-title.animate {
    opacity: 1;
    transform: translatey(0);
}